.wrapper{
    background-color: rgb(216,218,205);
    padding: 12px;
    font-family: "Lucida Console", Monaco, monospace;
}
h1{
    color: black;
    display: inline-block;
    margin: 22px 123px 14px 0px;
    vertical-align: top;
    font-size: 23px;
}
h4{
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    color:white;
    font-size: 11px;
    margin-top: 26px;
    text-decoration:underline;
}
.yellow h2, h5, p{
    color: rgb(218,221,208);
}
.greenrow{
    background-color: rgb(49,167,163);
    height: 67px;
    margin-bottom: 15px;
}
img{
    max-width: 40px;
    max-height: 40px;
    margin: 14px 5px 14px 14px;
    background-color:  rgb(49,167,163);
}
.yellow{
    background-color: rgb(250,226,134);
    padding: 15px 30px 15px 15px;
}
.col{
    color: #3DC0B1;
}
.left{
    background-color: rgb(21,55,59);
    display: inline-block;
    width: 194px;
    height: 470px;
    vertical-align: top;
    padding: 15px;
    margin-right: 30px;
}
.left h2{
    margin: 5px -6px;
    font-size: 15px;
}
.left p{
    font-size: 13px;
}
.right{ 
    display: inline-block;
    width: 596px;
    height: 500px;
}
.right p{
    font-size: 11px;
    margin: 0px 12px 12px 12px;
}
.right h5{
    margin: 7px;
}
.right h5, p{
    display: inline-block;
}
.three{
    height: 180px;
    width: 596px;
    display: inline-flex;
}
.three1, .three2, .three3{
    width: 180px;
    box-sizing: border-box;
    background-color: rgb(21,55,59);
}
.three2{
    margin: 0px 30px;
}
.two{
    height: 143px;
    width: 596px;
    display: inline-flex;
    margin: 29px 0px;
}
.two2{
    margin-left: 30px;
}
.two1, .two2{
    background-color: rgb(21,55,59);
    width: 285px;
    box-sizing: border-box;
}
.one{
    background-color: rgb(21,55,59);
    width: 596px;
}
.bottom{
    margin-top: 7px;
    background-color: rgb(49,167,163);
}
.bottom p{
    color: black;
    margin: 16px 253px;
    font-size: 11px;
}